body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color:lavenderblush

}
.main{

    text-align: center;
    font-family: 'Ballet', cursive;
    font-size: 2em;

    color:dimgray;
   
}
.second{

    font-family: 'Times New Roman', Times, serif;
    color:dimgray;
    text-align: center;
  
}
.top{
height:100vh;
background-color: purple;


}
