body {
  background: #dcd5c6;
}

.cta-container {
  background-color: #8da28e;
}
.text {
  background-color: white;
  border-style: groove;
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
