@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.main {
  font-family: "Taviraj static";
  font-size: 40px;
}

.aboutme-text {
  font-size: 20px;
  font-family: "Josefin slab";

  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
  border: 5px;
  border-style: double;
  border-color: aliceblue;
}
.head-project {
  font-family: "JetBrains Mono", monospace;
  color: aliceblue;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.6);
}

h4 {
  font-family: "JetBrains Mono", monospace;
  color: rgb(8, 8, 8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-github {
  font-family: "JetBrains Mono", monospace;
  color: aliceblue;
 

  padding: 10px;
}
