body {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;
}
/*huvudrubrik*/
.header {
  width: 100%;
  
}
.head-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  border-color: aquamarine;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.second {
  display: flex;

  align-items: center;
  justify-content: center;
}

.profilepicture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 100px;
  border-style: solid;
  color: aliceblue;
}

.cta-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*bild förstasidan*/
.flowerai {
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-style: outset;
  border: 30px;
}

/*Här är projekten*/
.project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-1,
.project-2,
.project-3 {
  height: 50px;

  margin: 0;
}

.projectlist-1,
.project-list-2,
.project-list-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-calc {
  width: 40px;
  height: 50px;
}

.image-photo {
  width: 30px;
}
/*info om project*/
.info-github {
  border-color: rgb(255, 251, 251);
}

/*bild project*/
.picture-project {
  width: 400px;
  height: 250px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-style: outset;
  border: 30px;
  margin-top: 20px;
}
/*icon*/
.github-picture {
  width: 100px;
  border-radius: 100px;
  padding-bottom: 15px;
  margin-top: 20px;
}

/*text på knapp*/
h4 {
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*här börjar css för CV */
.cert-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Här slutar css för cv*/

/*Här börjar css för kontakt*/

.phone-icon {
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
}

.call-icon {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}
.email {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}
.mail-icon {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.mail-text {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
