body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
}
/*huvudrubrik*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.head-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  border-color: aquamarine;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  display: flex;

  align-items: center;
  justify-content: center;
}

.profilepicture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  box-shadow: 19px 18px 5px 0px rgba(0, 0, 0, 0.75);
}

.profile-aboutme {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 99px;
  border-style: double;
  border-color: #8da28e;
  border-width: thick;
}
.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.front-text {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Här är projekten*/
.container-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-right: 30px;
  padding: 10px;
}

.project-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-wrap: balance;
  border-color: #8da28e;
  border-style: ridge;
}

/*bild project*/

/*icon*/
.icon {
  width: 200px;
  height: 200px;
  
}

/*text på knapp*/

/*här börjar css för CV */
.cert-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Här slutar css för cv*/

/*Här börjar css för kontakt*/

.phone-icon {
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
}

.call-icon {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}
.email {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}
.mail-icon {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.mail-text {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

