@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}
/*styles for mobile*/
@media only screen and (max-width: 768px) {
  body {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;

    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100vw;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 32px;

    list-style: none;
  }

  a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
  }
  a:hover {
    color: #ec407a;
    text-decoration: underline;
  }

  header {
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 20px;

    font-size: 13px;
  }
  span {
    color: #ec407a;
  }

  .Header,
  #projects-header {
    border: solid#ec407a 2px;
    border-radius: 10px;
    padding: 10px;
  }
  #profile-container {
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  .iAm-text {
    font-size: 20px;
  }

  #icon-hey {
    width: 40px;
    height: 40px;
  }
  .hey-text {
    display: flex;
    align-items: center;
  }
  .highlight {
    color: #ec407a;
  }
  h2 {
    margin: 20px;
    font-size: 38px;
  }
  #profile-image {
    width: 300px;
    border-bottom: #ec407a solid;
  }

  #aboutMe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #About-me-header {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  #about-me-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border-color: #ec407a;
    border-radius: 30px;
    border-style: solid;
  }

  .project-image {
    border-color: #ec407a;
    border-style: inset;
    object-fit: cover;
    width: 160px;
    height: 150px;
    margin: 7px;
  }
}
